ActionCode/resources/TEDA/Lesson06/province.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="provinces">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="province"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="province">
    <xs:complexType>
      <xs:attribute name="provinceCode" use="required" type="xs:integer"/>
      <xs:attribute name="provinceName" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
